<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>riverbottom64x64transparentanimatednotbright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{133,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{199,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{265,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{265,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{331,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{331,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{397,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottom64x64transparentanimatednotbright9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{397,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1359,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1359,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1419,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1419,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1479,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1479,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1539,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1539,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1599,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1599,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1659,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1659,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1719,1},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riverbottomleft64x64animated9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1719,49},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{463,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{463,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{529,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{529,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{595,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{595,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{661,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{661,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{727,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{727,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{793,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{793,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{859,1},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertop64x64transparentanimated9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{859,51},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{925,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{925,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{987,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{987,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1049,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1049,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1111,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1111,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1173,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1173,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1297,1},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rivertopleft64x64transparent9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1297,49},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>river.png</string>
            <key>size</key>
            <string>{1778,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec39264a0760e8f41a74ed477f7ecf3c:c45d59d01dfc41142ae6bc6090235584:7168a9ccebfe74e9171380a95c2f9f3b$</string>
            <key>textureFileName</key>
            <string>river.png</string>
        </dict>
    </dict>
</plist>
